<ion-content [scrollEvents]="true" (ionScroll)="onScrollHedearFix($event)">
  <!-- common header show -->
  <common-header [ngClass]="{'fix-header':isFixedHeader}"></common-header>
  <!-- Sub header start -->
  <div class="sub-header">
    <div class="sub-header-inner">
      <h1>{{viewData?.service?.service_name}} </h1>
      <div class="breadcrumbs"><a class="breadcrumbs_item" href="#">News</a><span class="breadcrumbs_delimiter">|</span><span class="breadcrumbs_item current">{{viewData?.service?.service_name}}</span></div>
    </div>
  </div>
  <!-- Sub header end -->
  <!--------- details section start ------- -->
  <div class="detailsPage-wrapper about-us" *ngIf="!viewLoadData">
    <!-- About company start -->
    <div class="about-company">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-md-6">
            <div class="content">
              <p>{{viewData?.service?.service_name}}</p>
              <h2>{{viewData?.title}}</h2>
              <p>{{viewData?.short_desc}}</p>
              <!-- <div class="custom-btn">
                <ion-button size="default" type="button">
                  <span class="submitText">Discover More</span>
                </ion-button>
              </div> -->
            </div>
          </div>
          <div class="col-md-6">
            <div class="box-image">
              <img src="{{file_url}}/public/images/{{viewData?.image}}">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- About company end -->
    
    <div class="container" [innerHTML]="viewData?.long_desc" ></div>

    <!-- -------related section start------- -->
    <div class="container" *ngIf="newsData.length > 0">
      <div class="row align-items-center">
        <div class="col-xs-12 col-sm-12">
          <div class="detailsPage-content list-right-content details-related">
            <h3>Related Stories & Latest News</h3>
            <ngx-slick-carousel class="carousel blog-wrapper" 
            #slickModal="slick-carousel" 
            [config]="relatedProductSlideConfig" 
            >
            <div ngxSlickItem *ngFor="let news of newsData" class="slide" class="slide">
              <div class="blog-item" matRipple [routerLink]="['/news-details', news?.id]">
                <div class="blog-img">
                  <img src="{{file_url}}/{{news?.Path}}/{{news?.image}}" alt="{{news?.image}}" width="100%">
                </div>
                <div class="blog-content">
                  <p class="tittle">{{news?.service?.service_name}}</p>
                  <h3 class="header">{{news?.title | slice:0:60 }} ... </h3>
                  <p>
                    {{ news?.short_desc  | slice:0:100 }} ... 
                  </p>
                  <p class="author">by <b>Admin</b> – {{news?.updated_at | date:'dd MMM yyy'}} <i>|</i> {{news?.updated_at | date:'h:mm a '}}</p>
                </div>
              </div>
            </div>
            </ngx-slick-carousel>
          </div>
        </div>
      </div>
    </div>
    <!-- related section end -->
  </div>
  <!-- details section end -->

  <!-- common footer show -->
  <common-footer></common-footer>

</ion-content>